# dependencies
node_modules

# build
dist
build
.next
out

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
coverage
.nyc_output

# env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# temp
.temp
.tmp

# runtime
pids
*.pid
*.seed
*.pid.lock

# node diagnostic
report.*.json

# backend
backend/node_modules
backend/.env